{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% if result_prize.winner %}
    <h1 class="blinking h1 mt-2 mb-5 font-weight-normal¡Felicidades!" style="color: white; text-transform:uppercase;">
      ¡Felicidades!!!</h1>

    <h4 class="h4 mb-4 font-weight-normal" style="color: white;">
      El administrador ya conoce tu premio y en breve se pondrá en contacto contigo para informarte cómo recibirlo.
      Sus datos se almacenaron con éxito:</h4>

    <div class="card mb-4">
      <div class="card-body">
        <p style="color: black" class="col-form-label col-form-label-lg">email: {{ result_draw.email }}</p>
        <p style="color: black" class="col-form-label col-form-label-lg">prize: {{ result_prize.label }}</p>
      </div>
    </div>

  {% else %}
    {% if result_prize.try_again and not result_draw.retry_used %}
      <h1 class="blinking h1 mt-2 mb-5 font-weight-normal" style="color: white; text-transform:uppercase;">Try
        again!</h1>
    {% else %}
      <h1 class="h1 mt-2 mb-5 font-weight-normal" style="color: white; text-transform:uppercase;">Better luck next
        time!</h1>
    {% endif %}
  {% endif %}


  {% if result_prize.try_again and not result_draw.retry_used %}
    {% if result_draw.retry_used %}
      <h4 class="h4 mb-5 font-weight-normal" style="color: white;">
        Your retry was already used...</h4>
    {% else %}
      {{ result_draw.use_retry }}

      <h4 class="h4 mb-5 font-weight-normal" style="color: white;">
        ¡Acabas de ganar un giro gratis! Por favor, haga clic en el botón de abajo para intentarlo de nuevo!</h4>

      <div class="mt-5">
        <form class="form-signin" method="POST" action="{% url 'wheel:draw_spin' %}">
          {% csrf_token %}
          <input type="hidden" name="login" maxlength="254" class="form-control form-control-lg" required=""
                 id="id_login" value="{{ result_draw.login }}">
          <input type="hidden" name="code" maxlength="8" class="form-control form-control-lg" required="" id="id_code"
                 value="{{ result_draw.code }}">
          <button class="mt2 btn btn-lg btn-primary btn-block" type="submit">¡Gira de nuevo gratis!</button>
        </form>
      </div>
    {% endif %}

  {% else %} <!-- LOSER -->
    {% if result_draw.retry_used %}
      <h4 class="h4 mb-5 font-weight-normal" style="color: white;">
        Your retry was already used...</h4>
    {% endif %}
    <h4 class="h4 mb-5 font-weight-normal" style="color: white;">
      Si tiene más vales de código para usar, haga clic en el botón a continuación para volver a la página principal.</h4>

    <div class="mt-5">
      <form action="{% url 'wheel:index' %}">
        {% csrf_token %}
        <button class="mt2 btn btn-lg btn-primary btn-block" type="submit">¡Introduce un nuevo código!</button>
      </form>

    </div>
  {% endif %}

{% endblock %}

{% block extra-scripts %}
  <script type="text/javascript">
      {% if result_prize.winner %}
          confetti.start();
      {% endif %}

      console.log("Return to result", {{ result_draw.rotation }});
      spinToResult({{ result_draw.rotation }});
  </script>
{% endblock %}